form {
  padding: 20px;
  border: 1px solid lightgray;
}

form.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

form.create-form h1 {
  text-align: center;
  margin: 0;
}

.new-pkg-paper {
  margin: 20px;
  padding: 20px;
}

.paper.request-show {
  text-align: center;
}

.create-form.paper,
.request-tutorial {
  margin: 20px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.request-tutorial {
  text-align: center;
}

.request-tutorial li {
  padding-bottom: 10px;
}

iframe {
  margin-left: auto;
  margin-right: auto;
}

form.create-form fieldset.unstyled {
  border: 0;
  margin: 0;
  padding: 0;
}

form.create-form fieldset.contacts {
  margin-top: 20px;
}

form.create-form .contacts-group-label {
  display: block;
  margin-bottom: 20px;
}

form.create-form .datepickers {
  flex: 1 100%;
}

form.create-form .text {
  width: 400px;
}

form.create-form .select {
  width: 400px;
}

form.create-form .textarea {
  width: 600px;
}

.itin-item > .MuiFormControl-root {
  width: 100%;
}

form.create-form button[type='submit'] {
  margin-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

input {
  border-bottom: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  padding: 20px 20px 5px 20px;
}

/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
} */

.errors {
  margin: 0;
}

.btns-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 15vw;
}

.submit-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.admin-login {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.admin-login {
  width: 100%;
}

#main-container > div > form > div:nth-child(3),
#main-container > div > form > div:nth-child(2) {
  width: 20vw;
}

#main-container > div > form > button {
  width: 20vw;
}

form.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
