.nav {
  flex: 1 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: #53616e;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}

ul.nav {
  padding: 0;
}

.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  font-family: 'Permanent Marker', cursive;
  font-size: 36px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (max-width: 500px) {
  .nav {
    justify-content: center;
  }
  .nav a {
    text-decoration: none;
    padding: 10px;
  }
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sidebar-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  color: white;
}

div.avatar {
  width: 50px;
  height: 50px;
  background-color: #53616e;
}

.nav-link,
.nav-spacer {
  padding: 5px;
  color: black;
}

.nav-link:hover,
#main-container > div > div.show > div > div > button,
#main-container > div > div > div.itinerary > div > div > button,
#main-container > div > div.show > div > div > div > button {
  background-color: #765d7a;
}

#main-container > div > div > div.itinerary > div > div > button {
  width: 50%;
  text-align: center;
  align-self: center;
  margin-top: 15px;
}

.icon-span {
  font-size: 40px;
}

#main-container > div.admin-page > div > div.show > div > button,
#main-container > div.admin-page > div > div.packages > ul > li > button,
#main-container > div.user-page > div:nth-child(1) > div > button,
#main-container
  > div.user-page
  > div.MuiPaper-root.MuiPaper-elevation10.create-form.paper.MuiPaper-rounded
  > form
  > div:nth-child(8)
  > div
  > button,
body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogActions-root.MuiDialogActions-spacing
  > button,
#main-container > div.sidebar > ul > a > button {
  background: #765d7a;
}

li.request-row > a {
  color: black;
}
