.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sidebar-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  color: white;
}

div.avatar {
  width: 90px;
  height: 90px;
  background-color: #53616e;
}

.sidebar-link {
  color: white;
  padding: 5px;
}

.icon-span {
  font-size: 40px;
}

#main-container > div.admin-page > div > div.show > div > button,
#main-container > div.admin-page > div > div.packages > ul > li > button,
#main-container > div.user-page > div:nth-child(1) > div > button,
#main-container
  > div.user-page
  > div.MuiPaper-root.MuiPaper-elevation10.create-form.paper.MuiPaper-rounded
  > form
  > div:nth-child(8)
  > div
  > button,
body
  > div.MuiDialog-root
  > div.MuiDialog-container.MuiDialog-scrollPaper
  > div
  > div.MuiDialogActions-root.MuiDialogActions-spacing
  > button,
#main-container > div.sidebar > ul > a > button {
  background: #765d7a;
}

li.request-row > a {
  color: black;
}
