body {
  margin: 0;
}

#main-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.main-nav {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  background: #c0c5c1;
}

@media all and (max-width: 500px) {
  .main-nav {
    justify-content: center;
  }
  .main-nav a {
    text-decoration: none;
    padding: 10px;
  }
}

a {
  text-align: center;
  padding: 1em;
}

.main-nav a {
  text-decoration: none;
  display: block;
}

.main-nav a:hover {
  background: #7d8491;
}

.content {
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.sidebar {
  flex: 1;
}

.main {
  flex: 2;
}

.main-footer {
  flex: 1 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 20px;
}

form > label,
form > input {
  padding: 10px;
}

.errors {
  margin: 0;
}
