body {
  margin: 0;
}

#main-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.nav {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
  background: #c0c5c1;
}

@media all and (max-width: 500px) {
  .nav {
    justify-content: center;
  }
  .nav a {
    text-decoration: none;
    padding: 10px;
  }
}

a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1em;
  color: black;
  background: #c0c5c1;
}

a.new-request-link {
  background: #c0c5c1;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 150px;
  margin: 50px;
}

a:hover,
button:hover {
  background: #7d8491;
}

.button {
  background: #c0c5c1;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin: 20px;
}

.sidebar {
  flex: 1;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#sidebar-list {
  list-style: none;
  padding: 0;
}

#avatar {
  width: 200px;
  height: 200px;
}

#main-page,
#admin-main-page,
#request-form-page,
#show-page {
  flex: 5;
  display: flex;
}

.request {
  flex-direction: column;
}

#main-page,
#admin-main-page {
  flex-flow: row wrap;
  justify-content: center;
}

#show-page {
  flex-direction: row;
}

#request-show,
#status-itinerary-show {
  flex: 1;
}

#request-list-div {
  flex: 1 100%;
  display: column;
}

.request-list,
.header-list {
  list-style: none;
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}

.header-list {
  justify-content: space-between;
}

.request-list {
  overflow: auto;
  max-height: 100%;
}

.link-list {
  flex: 1 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

#admin-list,
#all-requests-list {
  list-style: none;
  flex: 1 100%;
  padding: 0;
}

#admin-list {
  overflow: auto;
  max-height: 100%;
}

#admin-main {
  display: flex;
  flex-flow: row wrap;
  flex: 5;
  justify-content: center;
}

#request-headers,
#request-row {
  flex: 1 100%;
}

.footer {
  flex: 1 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form {
  padding: 20px 20px 0px 20px;
  border: 1px solid lightgray;
}

#new-request-form {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: none;
}

#cuisine-select,
#neighborhood-select {
  height: 200px;
  width: 300px;
  font-size: 18px;
}

#form-part-two {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#buttons {
  flex: 1 100%;
  text-align: center;
  padding: 50px;
}

#form-part-one {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

#start-time,
#end-time,
#cuisines-select,
#neighborhoods-select {
  flex: 1;
}

button {
  width: auto;
}

input {
  border-bottom: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  padding: 20px 20px 5px 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.errors {
  margin: 0;
}

#corner-link {
  padding: none;
  background: none;
  position: absolute;
  right: 0px;
}

#filter-select {
  flex: 1 100%;
}
