.button {
  background: #c0c5c1;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin: 20px;
}

#buttons {
  flex: 1 100%;
  text-align: center;
  padding: 50px;
}

a {
  text-decoration: none;
}
